.box, .timing #box2.timingEffect, .timing #box3.timingEffect, .timing #box4.timingEffect, .timing #box5.timingEffect, .timing #box6.timingEffect, .timing #box7.timingEffect {
  border-style: solid;
  border-width: 1px;
  box-sizing: border-box;
  width: 100px;
  font-size: 3em;
  font-weight: bolder;
  background-color: #0000FF;
  color: white;
  text-align: center;
  padding-bottom: 20px;
  padding-top: 20px; }

.box {
  -webkit-transition-property: background-color, color;
  -moz-transition-property: background-color, color;
  -o-transition-property: background-color, color;
  transition-property: background-color, color;
  -webkit-transition-duration: 3s, 5s;
  -moz-transition-duration: 3s, 5s;
  -o-transition-duration: 3s, 5s;
  transition-duration: 3s, 5s; }
  .box:hover {
    background-color: red;
    color: blue; }

.delay1 img, .delay2 img {
  width: 250px;
  height: 200px;
  -webkit-transition-property: width, height;
  -moz-transition-property: width, height;
  -o-transition-property: width, height;
  transition-property: width, height;
  -webkit-transition-duration: 5s, 3s;
  -moz-transition-duration: 5s, 3s;
  -o-transition-duration: 5s, 3s;
  transition-duration: 5s, 3s; }

.delay1 img {
  -webkit-transition-delay: 2s;
  -moz-transition-delay: 2s;
  -o-transition-delay: 2s;
  transition-delay: 2s; }
.delay1 img:hover {
  width: 400px;
  height: 300px; }

.delay2 img {
  -webkit-transition-delay: -2s;
  -moz-transition-delay: -2s;
  -o-transition-delay: -2s;
  transition-delay: -2s; }
.delay2 img:hover {
  width: 400px;
  height: 300px; }

.timing #box2.timingEffect, .timing #box3.timingEffect, .timing #box4.timingEffect, .timing #box5.timingEffect, .timing #box6.timingEffect, .timing #box7.timingEffect {
  -webkit-transition-property: margin-left;
  -moz-transition-property: margin-left;
  -o-transition-property: margin-left;
  transition-property: margin-left;
  -webkit-transition-duration: 5s;
  -moz-transition-duration: 5s;
  -o-transition-duration: 5s;
  transition-duration: 5s; }

.timing {
  background-color: white;
  border: solid 1px #27233A; }
  .timing #box2.timingEffect {
    font-size: 1rem;
    background-color: #27233A;
    -webkit-transition-timing-function: ease;
    -moz-transition-timing-function: ease;
    -o-transition-timing-function: ease;
    transition-timing-function: ease; }
  .timing #box3.timingEffect {
    font-size: 1rem;
    background-color: #27233A;
    -webkit-transition-timing-function: linear;
    -moz-transition-timing-function: linear;
    -o-transition-timing-function: linear;
    transition-timing-function: linear; }
  .timing #box4.timingEffect {
    font-size: 1rem;
    background-color: #27233A;
    -webkit-transition-timing-function: ease-in;
    -moz-transition-timing-function: ease-in;
    -o-transition-timing-function: ease-in;
    transition-timing-function: ease-in; }
  .timing #box5.timingEffect {
    font-size: 1rem;
    background-color: #27233A;
    -webkit-transition-timing-function: ease-out;
    -moz-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    transition-timing-function: ease-out; }
  .timing #box6.timingEffect {
    font-size: 1rem;
    background-color: #27233A;
    -webkit-transition-timing-function: ease-in-out;
    -moz-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out; }
  .timing #box7.timingEffect {
    font-size: 1rem;
    background-color: #27233A;
    -webkit-transition-timing-function: cubic-bezier(1, -0.53, 0.405, 1.425);
    -moz-transition-timing-function: cubic-bezier(1, -0.53, 0.405, 1.425);
    -o-transition-timing-function: cubic-bezier(1, -0.53, 0.405, 1.425);
    transition-timing-function: cubic-bezier(1, -0.53, 0.405, 1.425); }
  .timing:hover .timingEffect {
    margin-left: 80%; }

body {
  background-color: #505168;
  margin: 0; }

header {
  height: auto;
  text-align: center;
  color: #EAEFD3; }
  header h1 {
    height: 200px;
    line-height: 200px;
    font-size: 2.5rem;
    word-wrap: break-word; }

.footer {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline; }
  .footer a {
    width: 50%;
    display: inline-block;
    text-align: center;
    line-height: 50px;
    color: white;
    text-decoration: none;
    font-size: 100%; }
  .footer a:hover {
    background-color: #B3C0A4;
    color: #505168; }

.corps {
  background-color: #EAEFD3;
  padding: 2%;
  padding-left: 6%;
  padding-right: 6%; }
  .corps p {
    text-align: justify; }
  .corps h1, .corps h2, .corps h3, .corps h4, .corps h5, .corps h6 {
    color: #27233A; }
  .corps pre {
    background-color: #27233A;
    padding: 2%;
    font-family: "Courier New";
    color: white;
    overflow: auto; }
  .corps table th, .corps table td {
    border: 1px solid #505168;
    border-collapse: collapse;
    height: 50px;
    text-align: center;
    vertical-align: middle; }
  .corps table {
    display: block;
    overflow: auto;
    width: 85%;
    margin-left: auto;
    margin-right: auto; }
  .corps table th {
    background-color: #505168;
    color: white; }
  .corps table tr:hover {
    background-color: #B3C0A4;
    color: white; }
  .corps a {
    text-decoration: none; }
  .corps .caniuse {
    overflow: auto; }

a img {
  width: 64px;
  height: 64px;
  position: fixed; }

.menu {
  background-color: #B3C0A4;
  letter-spacing: -0.31em; }
  .menu ul {
    padding: 0;
    margin: 0; }
  .menu li {
    display: inline-block;
    width: 25%;
    text-align: center;
    height: 50px;
    line-height: 50px; }
    .menu li a {
      display: block;
      width: 100%;
      letter-spacing: normal;
      word-spacing: normal;
      text-rendering: auto;
      text-decoration: none;
      color: #505168;
      font-weight: bold; }
    .menu li a:hover {
      background-color: #EAEFD3;
      color: #505168; }

@media screen and (max-width: 481px) {
  .menu li {
    display: block;
    width: 100%; }

  a img {
    width: 0;
    height: 0;
    position: inherit; } }
@media screen and (min-width: 481px) and (max-width: 768px) {
  .menu li {
    width: 50%; }

  a img {
    width: 0;
    height: 0;
    position: inherit; } }

/*# sourceMappingURL=index.css.map */
