
body{
  background-color: $body_background;
  margin: 0;
}

header {
  height: auto;
  text-align: center;
  color: #EAEFD3;
  & h1{
    height:200px;
    line-height:200px;
    font-size: 2.5rem;
    word-wrap: break-word;
  }
}


.footer {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  & a{
    width: 50%;
    display: inline-block;
    text-align: center;
    line-height: 50px ;
    color: white;
    text-decoration: none;
    font-size: 100%;
  }
  & a:hover{
    background-color: #B3C0A4;
    color: #505168;
  }
}

.corps{
  background-color: $corps-background;
  padding: 2%;
  padding-left: 6%;
  padding-right: 6%;

  & p{
    text-align: justify;
  }

  & h1, h2, h3, h4, h5, h6{
    color: #27233A;
  }

  & pre{
    background-color: #27233A;
    padding: 2%;
    font-family: "Courier New";
    color: white;
    overflow: auto;
  }

  & table th , table td{
    border: 1px solid $body-background;
    border-collapse: collapse;
    height: 50px;
    text-align: center;
    vertical-align: middle;
  }

  & table{
    display: block;
    overflow: auto;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
  }

  & table th{
    background-color: $body-background;
    color: white;
  }

  & table tr:hover{
    background-color: #B3C0A4;
    color: white;
  }

  & a{
    text-decoration: none;
  }

  & .caniuse{
    overflow: auto;
  }
}


a{
  & img{
    width: 64px;
    height: 64px;
    position: fixed;
  }
}



.menu{
  background-color: $menu-background;
  letter-spacing: -0.31em;

  & ul{
    padding: 0;
    margin: 0;
  }

  & li{
    display: inline-block;
    width: 25%;
    text-align: center;
    height: 50px;
    line-height: 50px;

    & a{
      display: block;
      width: 100%;
      letter-spacing: normal;
      word-spacing: normal;
      text-rendering: auto;
      text-decoration: none;
      color: $body-background;
      font-weight: bold;
    }

    & a:hover{
      background-color: $corps-background;
      color: $body-background;
    }
  }
}

@media screen and (max-width: 481px){
  .menu{

    & li{
      display: block;
      width: 100%;
    }
  }

  a{
    & img{
      width: 0;
      height: 0;
      position: inherit;
    }
  }

}

@media screen  and (min-width: 481px) and (max-width: 768px){
  .menu{

    & li{
      width: 50%;
    }
  }

  a{
    & img{
      width: 0;
      height: 0;
      position: inherit;
    }
  }

}
