$body-background: #505168;
$corps-background: #EAEFD3;
$menu-background: #B3C0A4;

$box_background-color: #0000FF;
$box_color: white;
$box_width: 100px;
$box_transition-property: background-color, color;
$box_transition-duration: 3s, 5s;
$box_hover_background-color: red;
$box_hover_color: blue;

$timing_property: margin-left;
$timing_duration: 5s;

$delay_property: width, height;
$delay_duration: 5s, 3s;
$delay_transition-delay-retard: 2s;
$delay_transition-delay-avance: -2s;